body{
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: rgb(53, 53, 221);
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

h2{
    margin-bottom: 20px;
}

input{
    width: 250px;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #e2d2d2;
}

button{
    margin: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:nth-child(1){
    background: green;
    color: white;
}

button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5){
    background: #4CAF50;
    color: white;
}

button:last-child{
    background: red;
    color: white;
}

#output{
    margin-top: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}